docutils==0.16
numpy>=1.17.4
sympy>=1.7.1
scipy>=1.4.1
ply>=3.11
matplotlib>=3.1.2
sphinx-rtd-theme==0.5.0
ply>=3.11
windows_tools>=2.4
pywin32>305

#This should be all additional packages required for python, other imports should be included in the default distribution of python 
#All imports are listed in SLiCAP/SLiCAPini/SLiCAPini.py and in setup.py
