body
{
font-family:Lucida Sans,Arial,Helvetica,sans-serif;
background:url(images/Grid.png);
color: #3d4043;
min-width:250px;
padding-left: 10px;
padding-right: 10px;
padding-top: 0px;
}

#top
{
background: #00458a;
font-family:Lucida Sans,Arial,Helvetica,sans-serif;
text-align:center;
margin: 0px;
padding: 0px;
color: #f2f2f3;
}

#Mscript {
font-family: "Lucida Console", monospace;
background: whitesmoke;
padding: 20px;
border: 2px;
border-style: solid;
border-color: lightgray;
line-height: 0.5;
}

#footnote
{
font-family:Lucida Sans,Arial,Helvetica,sans-serif;
text-align:center;
padding:15px;
font-size: 80%;
}

h1
{
font-size: 1.75em;
font-weight: normal;
}

h2
{
color: #00458a;
font-size: 1.5em;
text-align: left;
font-weight: normal;
}

h3 
{
color: #00458a;
font-size: 1.25em;
text-align: left;
font-weight: normal;
}

table
{
margin-left: 20px;
border-collapse: collaps;
padding: 0px;
}

th {
color: #00458a;
text-align: right;
padding: 5px;
font-weight: normal;
}

td {
font-family: "Lucida Console", monospace;
text-align: right;
padding: 5px;
}

th.center, td.center {
text-align: center;
}

th.left, td.left {
text-align: left;
}

th.right, td.right {
text-align: right;
}

td.units {
text-align: left;
padding-left:1em;
}

td.title {
font-family:Lucida Sans,Arial,Helvetica,sans-serif;
text-align: left;
}

td.equal {
text-align:center;
width: 1em;
}

figure{
margin-left: 50%;
margin-left: 0px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link {
color: #00458a;
text-decoration: none;
}

a:visited {
color: #0066cc;
}

a:hover {
color: red;
}

p.answer {
color: green;
}

p.question {
color: black;
}

p.error {
color: red;
}

p.help {
color: blue;
}

p.script {
color: black;
}

p.comment {
color: green;
}

.string {
color: magenta;
}
